* {
	margin:0;
}
body, html {
	background: brown;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: "arial";
}
ul, li {
	margin: 0;
	padding: 0;
	list-style:none;
}
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.wrap {
	margin: auto;
	width: 43.4%;
	max-width: 800px;
	background: #d8d8d8;
	clear: both;
	/*display: table;*/
	/*padding: 20px 20px 40px 20px;*/
	position: relative;
	box-sizing:border-box;
	/*height: 500px;
	overflow: auto;
	max-height: 500px;*/
}

.gallery-wrapper {

}

h1, p {
	text-align:center;
	color: #fff;
}

ul.gallery-block {
	background: white;
}
ul.gallery-block > li {
	display:inline-block;
/*	border:2px black solid;*/
	background: green;
	vertical-align: middle;
	position: relative;
	/*z-index: 9;*/
	line-height: 1;
	transition:all 0.3s ease-in-out!important;
	/*position: relative;*/
	/*width: 100px;*/
	overflow: hidden;
}
/*ul.gallery-block > li:first {
	width: 150px;
	top: 0;
	left: 0;
}*/
.remove {
	color:white;
	background: red;
	padding: 5px;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	
}
.remove:hover {
	background: #000;

}


/*.hello {
	transition:opacity 5s ease-in-out!important;
}*/
/*.fix {
	position: fixed!important;
	top:0;
}*/